<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="" />
    <title>TheHungryKitchen</title>
  </head>
  <body>
    <h1>Search Results:</h1>
    <% recipes.forEach((recipe) => { %>
    <div class="item">
      <img src="<%= recipe.recipe.image %>" alt="img" />
      <div class="flex-container">
        <h1 class="title"><%= recipe.recipe.label %></h1>
        <a class="view-btn" target="_blank" href="<%= recipe.recipe.url %>"
          >View Recipe</a
        >
      </div>
      <p class="item-data">
        Calories: <%= recipe.recipe.calories.toFixed(2) %>
      </p>
      <p class="item-data">
        Diet label: <%= recipe.recipe.dietLabels.length > 0 ?
        recipe.recipe.dietLabels : 'No Data Found' %>
      </p>
    </div>
    <% }) %>
  </body>
</html>
