<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../../public/logo.png" /> 
    <title>The Hungry Kitchen</title>
  </head>
  <body>
    <div class="container">
      <!-- Section 1 -->
      <section class="section-1">
        <h1 class="section-heading home">The Hungry Kitchen</h1>
        <div class="section-1-icons">
          <i class="change fas fa-egg"></i>
          <i class="fas fa-stroopwafel"></i>
          <i class="fas fa-cheese"></i>
          <i class="fas fa-hotdog"></i>
          <i class="fas fa-drumstick-bite"></i>
          <i class="fas fa-apple-alt"></i>
          <i class="fas fa-ice-cream"></i>
          <i class="fas fa-fish"></i>
          <i class="fas fa-cookie"></i>
          <i class="fas fa-seedling"></i>
        </div>
        <!-- Search for recipes section -->
        <form class="search-box recipes" action="/search" method="post">
          <input
            type="text"
            name="search"
            class="search"
            placeholder="Search Your Recipe..."
          />
          <button type="submit" class="search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </section>
      <!-- End Section 1 -->
      <!-- Section 2 -->
      <section class="section-2">
        <h1 class="section-heading popular-meals">popular recipes</h1>
        <div class="cards-container">
          <div class="card">
            <img src="<%= recipes[nums[0]].recipe.image %>" class="card-img" />
            <h3 class="card-name"><%= recipes[nums[0]].recipe.label %></h3>
            <p class="card-data">
              Calories: <%= Math.round(recipes[nums[0]].recipe.calories) %>
            </p>
            <p class="card-data">
              Diet Label: <%= recipes[nums[0]].recipe.dietLabels[0] %>
            </p>
            <p class="card-data">
              Health Labels: <%= recipes[nums[0]].recipe.healthLabels.join(", ")
              %>
            </p>
            <a
              class="card-btn"
              target="_blank"
              href="<%= recipes[nums[0]].recipe.url %>"
            >
              View Recipe
            </a>
          </div>
          <div class="card">
            <img src="<%= recipes[nums[1]].recipe.image %>" class="card-img" />
            <h3 class="card-name"><%= recipes[nums[1]].recipe.label %></h3>
            <p class="card-data">
              Calories: <%= Math.round(recipes[nums[1]].recipe.calories) %>
            </p>
            <p class="card-data">
              Diet Label: <%= recipes[nums[1]].recipe.dietLabels[0] %>
            </p>
            <p class="card-data">
              Health Labels: <%= recipes[nums[1]].recipe.healthLabels.join(", ")
              %>
            </p>
            <a
              class="card-btn"
              target="_blank"
              href="<%= recipes[nums[1]].recipe.url %>"
            >
              View Recipe
            </a>
          </div>
          <div class="card">
            <img src="<%= recipes[nums[2]].recipe.image %>" class="card-img" />
            <h3 class="card-name"><%= recipes[nums[2]].recipe.label %></h3>
            <p class="card-data">
              Calories: <%= Math.round(recipes[nums[2]].recipe.calories) %>
            </p>
            <p class="card-data">
              Diet Label: <%= recipes[nums[2]].recipe.dietLabels[0] %>
            </p>
            <p class="card-data">
              Health Labels: <%= recipes[nums[2]].recipe.healthLabels.join(", ")
              %>
            </p>
            <a
              class="card-btn"
              target="_blank"
              href="<%= recipes[nums[2]].recipe.url %>"
            >
              View Recipe
            </a>
          </div>
        </div>
      </section>
      <!-- End of Section 2 -->
      <!-- Section 4 -->
      <section class="section-4">
        <div class="section-4-text">
          <h2 class="section-4-heading sign-up">Sign Me Up</h2>
          <p class="section-4-paragraph">
            BE THE FIRST TO KNOW ABOUT ANY UPDATES AND CHANGES
          </p>
        </div>
        <form class="signup-form" action="/signup" method="post">
          <input
            type="email"
            name="email"
            class="signup-form-input"
            placeholder="Enter Your Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            required
          />
          <button type="submit" class="signup-form-btn">
            <i class="fas fa-arrow-right"></i>
          </button>
        </form>
        <p class="copyright">TheHungryKitchen &copy; All rights reserved</p>
      </section>
      <!-- End of Section 4 -->
    </div>
    <script src="../js/home.js"></script>
    <script
      src="https://kit.fontawesome.com/2295a6ef0c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
